$color: (
  primary: (
    50: #e3f5fd,
    100: #b7e5fa,
    200: #8ad4f7,
    300: #62c4f2,
    400: #4cb7ef,
    500: #40aaec,
    600: #3b9cdd,
    700: #3589c9,
    800: #3178b5,
    900: #285892,
    contrast: (
      50: #263238,
      100: #263238,
      200: #263238,
      300: #263238,
      400: #263238,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
    ),
    default: #40aaec,
    lighter: #b7e5fa,
    darker: #3589c9,
    text: #40aaec,
    default-contrast: white,
    lighter-contrast: #263238,
    darker-contrast: white,
    "50-contrast": #263238,
    "100-contrast": #263238,
    "200-contrast": #263238,
    "300-contrast": #263238,
    "400-contrast": #263238,
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "contrast-contrast": null,
  ),
  accent: (
    50: #fffce9,
    100: #fff7c9,
    200: #fff2a7,
    300: #ffed87,
    400: #ffe76e,
    500: #ffe259,
    600: #ffd458,
    700: #fbbd51,
    800: #f6a74b,
    900: #ec8240,
    contrast: (
      50: #263238,
      100: #263238,
      200: #263238,
      300: #263238,
      400: #263238,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
    ),
    default: #ffe259,
    lighter: #fff7c9,
    darker: #fbbd51,
    text: #ffe259,
    default-contrast: white,
    lighter-contrast: #263238,
    darker-contrast: white,
    "50-contrast": #263238,
    "100-contrast": #263238,
    "200-contrast": #263238,
    "300-contrast": #263238,
    "400-contrast": #263238,
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "contrast-contrast": null,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #f44336,
    lighter: #ffcdd2,
    darker: #d32f2f,
    text: #f44336,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  is-dark: false,
  foreground: (
    base: black,
    divider: rgba(0, 0, 0, 0.12),
    dividers: rgba(0, 0, 0, 0.12),
    disabled: rgba(0, 0, 0, 0.38),
    disabled-button: rgba(0, 0, 0, 0.26),
    disabled-text: rgba(0, 0, 0, 0.38),
    elevation: #1976d2,
    hint-text: rgba(0, 0, 0, 0.38),
    secondary-text: rgba(0, 0, 0, 0.54),
    icon: rgba(0, 0, 0, 0.54),
    icons: rgba(0, 0, 0, 0.54),
    text: rgba(0, 0, 0, 0.87),
    slider-min: rgba(0, 0, 0, 0.87),
    slider-off: rgba(0, 0, 0, 0.26),
    slider-off-active: rgba(0, 0, 0, 0.38),
  ),
  background: (
    status-bar: #e0e0e0,
    app-bar: #f5f5f5,
    background: #fafafa,
    hover: rgba(0, 0, 0, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(0, 0, 0, 0.12),
    raised-button: white,
    focused-button: rgba(0, 0, 0, 0.12),
    selected-button: #e0e0e0,
    selected-disabled-button: #bdbdbd,
    disabled-button-toggle: #eeeeee,
    unselected-chip: #e0e0e0,
    disabled-list-option: #eeeeee,
    tooltip: #616161,
  ),
  success: (
    50: #e8f5e9,
    100: #c8e6c9,
    200: #a5d6a7,
    300: #81c784,
    400: #66bb6a,
    500: #4caf50,
    600: #43a047,
    700: #388e3c,
    800: #2e7d32,
    900: #1b5e20,
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: rgba(0, 0, 0, 0.87),
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: rgba(0, 0, 0, 0.87),
      A400: rgba(0, 0, 0, 0.87),
      A700: rgba(0, 0, 0, 0.87),
    ),
    default: #4caf50,
    lighter: #c8e6c9,
    darker: #388e3c,
    text: #4caf50,
    default-contrast: rgba(0, 0, 0, 0.87),
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": rgba(0, 0, 0, 0.87),
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": rgba(0, 0, 0, 0.87),
    "A400-contrast": rgba(0, 0, 0, 0.87),
    "A700-contrast": rgba(0, 0, 0, 0.87),
    "contrast-contrast": null,
  ),
);
