<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<app-banner color="warn"></app-banner>

<main class="content ">

  <mat-form-field>
    <mat-label>Choose theme</mat-label>
    <mat-select >
      <mat-option value="light">Light</mat-option>
      <mat-option value="dark">Dark</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="theme-picker">
    <mat-label>Choose theme</mat-label>
    <mat-select value="themeManager.theme$ | async">
      <mat-option value="light">Light</mat-option>
      <mat-option value="dark">Dark</mat-option>
    </mat-select>
  </mat-form-field>
  

  <button mat-raised-button color="accent" class="demo-button">Simple Demo Button</button>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</main>