.example-spacer {
    flex: 1 1 auto;
  }

  .content {
    min-height: calc(100vh - 64px - (20px * 2));
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .demo-button,
  .theme-picker {
    width: 100%;
    max-width: 400px;
  }
  
  .example-card {
    max-width: 400px;
    margin-top: 20px;
  }

  .purple-sub-theme{
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }